<%- include("./sections/header") %>
    <link rel="stylesheet" href="css/app.css">
    </head>

    <body>
        <%- include("./sections/navbar") %>

            <h1>Twitter Clone</h1>
            <%- include("./sections/footer") %>